body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert-info a{
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: #CCFFFF;
    border: 1px solid lightgray;
    padding: .5em 5em;
}

@media screen and (min-width:768px) {
    selector {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-links a{
    background-color: #CCCCCC;
    display: inline-block;
    padding: 10px 20px;
}

ul li{
    list-style: none;
    padding: 10px;
}
